
#API config variables 
API_PORT=3000


##Auth related variables
JWT_SECRET="jwt-secret-key"
JWT_EXPIRES_IN="7d"

##llm related variables 
LLM_PROVIDER='groq' 
# Options: 'openai', 'gemini', 'groq', 'mock'

#OPENAI_API_KEY='refused-to-pay'
OPENAI_MODEL='gpt-4o-mini'

GEMINI_API_KEY='gemini-api-key'
GEMINI_MODEL= "gemini-1.5-flash"

GROQ_API_KEY='groq-api-key'
#GROQ_MODEL="llama-3.1-8b-instant"
GROQ_MODEL='openai/gpt-oss-120b'

##Toekn related variables 
MAX_TOKENS_PER_USER='10000'
#TODO: return to 10000
MAX_INPUT_LENGTH='10000'  # Maximum input text length in characters
MAX_TOKEN_PER_REQUEST='300'  # Maximum tokens per request

##DB related variables 
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# Rate limiting variables
RATE_LIMIT_MINUTE=10
RATE_LIMIT_HOUR=100
RATE_LIMIT_DAY=1000
