.env 

node_modules
# Node
node_modules/
package-lock.json
dist
*.log
.DS_Store
*.md
/src/generated/prisma
/doc
README.md
*.exe
.terraform/
terraform.tfstate
terraform.tfstate.*
.git-filter-repo/

# Node
node_modules/
package-lock.json

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*

# Tooling
.git-filter-repo/
